

.container2 {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
}

.legend{
    display: flex;
    flex-direction: row;
    margin-left: 19rem;
}

.legend-item {
    display: flex;
    align-items: center;
}

.color-box {
    margin-left: 30px;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
}

.status {
    margin-left: 5px;
}

.warning {
    background-color: #f54242; /* Red */
}

.caution {
    background-color: #ffe135; /* Yellow */
}

.good {
    background-color: #80ff80; /* Green */
}